.product-page {
    padding-top: 200px;
    background-color: #e2e2e2;
}

.product-page {
    display: flex;
    flex-wrap: wrap;
  }
  
.product-images {
    display: flex;
    flex: 1 1 50%;
    padding: 10px;
}
  
.product-details {
    flex: 1 1 50%;
    padding: 10px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
.thumbnail-images img {
    width: 30%;
    height: auto;
    cursor: pointer;
}

.product-details h1 {
    font-size: 24px;
  }
  
.product-details .reviews {
    font-size: 14px;
}

.product-details .price {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.product-details .subtotal {
    margin-bottom: 20px;
}

.product-details .shipping{
    margin-bottom: 30px;
}

.product-details .total {
    font-size: 20px;
    color: black;
}

.subtotal, .shipping, .total {
    width: 300px;
}

.small { 
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    margin-right: 5px;
}

.right {
    float: right;
}

.product-details .features {
    list-style: none;
    padding: 0;
}

.product-details .features li {
    margin-top: 5px;
}

.size-select {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.add-to-cart {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #52730d;
    color: white;
    border: none;
    cursor: pointer;
}

.shipping-returns {
    margin-top: 20px;
    font-size: 14px;
}

.sku {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}

.cart-newsletter {
    margin-top: 20px;
}

.cart-newsletter input {
    padding: 10px;
    width: 70%;
}

.cart-newsletter button {
    padding: 10px;
    width: 25%;
    background-color: #52730d;
    color: white;
    border: none;
    cursor: pointer;
}