.product-page {
    display: flex;
    flex-wrap: wrap;
    padding-top: 170px;
    background-color: #e2e2e2;
    width: 85%;
    margin: auto;
}

.product-images {
    display: flex;
    /* flex-wrap: wrap; */
    width: 50%;
    border: 2px solid red;
    gap: 30px;
}

.product-image {
    display: block;
    margin: 0;
    padding: 0;
    border: 2px solid #52730d;
}

.product-image img {
    display: block;
    margin: auto;
    width: 100%;
    min-height: 600px;
    max-width: 373px; 
}

.thumbnail-images {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid #52730d;
}

.thumbnail-images img {
    cursor: pointer;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    max-width: 196px;
}

.product-details {
    padding-top: 10px;
    width: 50%;
    border: 2px solid red;
}

.product-details h1 {
    font-size: 24px;
}

.product-details .reviews {
    font-size: 14px;
}

.product-details .price {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.product-details .subtotal {
    margin-bottom: 20px;
}

.product-details .shipping {
    margin-bottom: 30px;
}

.product-details .total {
    font-size: 20px;
    color: black;
}

.subtotal,
.shipping,
.total {
    width: 300px;
}

.small {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    margin-right: 5px;
}

.right {
    float: right;
}

.product-details .features {
    padding: 0;
    padding-left: 25px;
}

.product-details .features li {
    text-transform: uppercase;
}

.cart-select {
    display: flex;
    gap: 30px;
}

.size-select {
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 0;
    height: 50px;
}

.add-to-cart {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    background-color: #52730d;
    color: white;
    border: none;
    cursor: pointer;
    height: 50px;
}

.shipping-returns {
    margin-top: 20px;
    font-size: 14px;
}

.sku {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}

.cart-newsletter {
    margin-top: 20px;
}

.cart-newsletter input {
    padding: 10px;
    width: 70%;
}

.cart-newsletter button {
    padding: 10px;
    width: 25%;
    background-color: #52730d;
    color: white;
    border: none;
    cursor: pointer;
}