.product-page {
    display: flex;
    flex-wrap: wrap;
    padding-top: 170px;
    background-color: #e2e2e2;
    width: 85%;
    margin: auto;
}

.product-images {
    display: flex;
    margin-right: 80px;
    gap: 4%;
}

.product-image {
    display: inline-block;
    width: auto;
    max-width: 373px;
    margin: 0;
    padding: 0;
}

.product-image img {
    display: block;
    width: 100%;
    height: auto;
}

.thumbnail-images {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 600px;
}

.thumbnail-images img {
    cursor: pointer;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    max-width: 196px;
}

.go-to-checkout {
    width: 100%;
    color: #646464;
    border-radius: 0;
    border: 1px solid #7a7a7a;
    font-family: "Poppins";
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
}

.product-details {
    padding-top: 10px;
    width: 25%;
    padding-bottom: 80px;
}

.product-details h1 {
    font-size: 24px;
}

.product-details .reviews {
    font-size: 14px;
}

.product-details .price {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.product-details .subtotal {
    margin-bottom: 20px;
}

.product-details .shipping {
    margin-bottom: 30px;
}

.product-details .total {
    font-size: 20px;
    color: black;
}

.subtotal,
.shipping,
.total {
    width: 300px;
}

.small {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    margin-right: 5px;
}

.right {
    float: right;
}

.product-details .features {
    padding: 0;
    padding-left: 25px;
}

.product-details .features li {
    text-transform: uppercase;
}

.cart-select {
    display: flex;
    gap: 30px;
}

.size-select {
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 0;
    border: 1px solid #7a7a7a;
    height: 50px;
}

.add-to-cart {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 8px;
    width: 50%;
    background-color: #52730d;
    color: white;
    border: none;
    cursor: pointer;
    height: 50px;
}

.shipping-returns {
    margin-top: 20px;
    font-size: 14px;
}

.sku {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}

.cart-newsletter {
    margin-top: 20px;
}

.cart-newsletter input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #7a7a7a;
    background-color: #e2e2e2;
    font-family: "Poppins", sans-serif;
}

.cart-newsletter button {
    padding: 15px;
    width: 50%;
    background-color: #e2e2e2;
    color: #646464;
    border: 1px solid #7a7a7a;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1280px) {
    .product-details {
        width: 30%;
    }
}

@media screen and (max-width: 1119px) {
    .product-page {
        width: 100%;
    }

    .product-images {
        width: 100%;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .thumbnail-images {
        gap: 13px;
    }

    .product-details {
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 630px) {
    .product-details {
        width: 80%;
        margin: auto;
    }

    .product-images {
        flex-direction: column;
    }

    .product-image img {
        width: 90%;
        margin: auto;
    }

    .thumbnail-images {
        flex-direction: row;
        margin: 10px 20px;
    }

    .thumbnail-images img{
        width: 30%;
    }

}