.checkout-page {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.product-summary {
  padding-top: 170px;
  width: 53%;
}

.checkout-form {
  padding-top: 170px;
  background-color: #dadada;
  padding-left: 5%;
  width: 47%
}

.no-btm {
  border-bottom: none;
}

.round-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e6e6e6;
}

.pay-now {
  padding: 10px 0;
  font-size: 16px;
  font-family: "Poppins";
}

@media screen and (max-width: 1200px) {
  .checkout-form {
    padding-right: 5%;
  }
}

@media screen and (max-width: 850px) {
  .product-summary {
    width: 100%;
  }

  .checkout-form {
    width: 100%;
    padding-top: 50px;
  }

  .checkout-form .main-checkout-form {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  }

  .checkout-page {
    justify-content: center;
  }

  .product-details {
    padding-bottom: 20px;
  }
}