#header {
    align-items: center;
    position: relative;
    color: white;
    margin: 0;
}

#header .header-img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

#header-caption h1 {
    font-size: 96px;
    margin: 0;
    line-height: 1;
    letter-spacing: -1.5;
    font-weight: 300;
    font-style: normal;
}

#header-caption p {
    margin: 0;
    font-weight: 400;
}

#header-caption {
    text-align: right;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

@media screen and (max-width: 1040px) {
    #header-caption h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 870px) {
    #header-caption h1 {
        font-size: 60px;
    }

    #header-caption p {
        font-size: 16px;
    }
}

@media screen and (max-width: 715px) {
    
}
