.navbar {
    position: absolute;
    top: 0;
    color: #3a3a3a;
}

.navbar a {
    color: #3a3a3a;
}

.icon {
    width: 20px;
    transform: translateY(37%);
}

.icon path{
    stroke: #3a3a3a;
}

#user path:nth-child(1) {
    stroke: #3a3a3a;
}

#user path:nth-child(2) {
    fill: #3a3a3a;
}

#cart {
    position: relative;
    left: 3px;
}

.dropdown-icon {
    font-size: 30px;
    padding: 5px 15px;
    cursor: pointer;
}
.nav-link {
    color: #3a3a3a;
}
.nav-link.active {
    color: white;
}

.nav-link.active a {
    color: white;
}

.nav-link.active path {
    stroke: white;
}

.nav-link.active #user path:nth-child(1) {
    stroke: white;
}

.nav-link.active #user path:nth-child(2) {
    fill: white;
} 

.logo {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.logo * {
    margin: 0;
    margin-left: 30px;
}

.logo h1 {
    font-size: 50px;
    font-weight: 300;
}

.logo p {
    margin-top: -15px;
}

.dropdown-icon:hover {
    background-color: #d4d4d4;
}

nav {
    width: 100%;
    margin: 0;
    color: white;
    font-weight: 400;
    text-align: left;
    display: flex;
    padding: 0;
    padding-left: 120px;
    padding-top: 30px;
    padding-right: 60px;
    align-items: center;
    z-index: 99;
}

nav .dropdown-icon,
nav .logo {
    display: inline-block;
}

.navbar-links {
    display: inline-block;
    margin-left: auto;
}

.navbar-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
}

.navbar-links ul li:nth-child(1) {
    font-family: "Poppins-Medium", sans-serif;
}

.navbar-links ul {
    padding-left: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    height: auto;
}

nav ul li a:hover {
    background-color: #d4d4d4;
}